body {
    background-color: black;
    padding: 50px;
}

/*Cabeçalho*/
header {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.headtext {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 50px;
    padding: 1%;
    width: 60%;
    background-color: whitesmoke;
}

.foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 5px 0px 50px grey;
    padding: 10px;
    margin: 10px;
}

/*Corpo*/
main {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    max-width: 1200px;
    margin: auto;
}

#infos {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 20px;
    text-align: justify;
}

#conteudo {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: auto;
    padding: 1%;
    width: 60%;
    margin-left: 5px;
}