body {
    background-color: black;
    padding: 50px;
}

/*Cabeçalho*/
header {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.headtext {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 70px;
    padding: 1%;
    width: 60%;
    background-color: whitesmoke;
}

.foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: -10px -10px 50px rgb(0, 0, 0);
    margin: 10px;
}

/*Corpo*/
main {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    max-width: 1200px;
    margin: auto;
}

#infos {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 20px;
    text-align: justify;
}

#conteudo {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: auto;
    padding: 1%;
    width: 60%;
    margin-left: 5px;
}

h1,h2,h4 {
    font-family: 'Libre Baskerville', serif;
}

p,a {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: rgba(80, 74, 74, 0.603);
}
a:focus {
    border: 1px solid black;
    background: gray;
    font-size: 20px;
}
a:active {
    background: rgb(255, 255, 255);
}
a:hover {   
    background: rgb(255, 255, 255);
    font-size: 20px;
}
a:link {
    color: rgb(0, 0, 0); 
}